log-aggregator/
smart-monitor/.env
smart-monitor/logs/
terraform/terraform.tfvars
# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform.tfstate
*.tfstate
*.tfstate.backup

# Logs
logs/

# Editor
*.swp
# IDE
.vscode/

# Terraform internal
smart-monitor/terraform/.terraform/
smart-monitor/terraform/.terraform.lock.hcl

# Local experiments
tf-basics/
practise/

